<div class="container">
  <div class="row">
    <div class="col-lg-6">
      <mat-card>
        <mat-card-title>Number Of Courses</mat-card-title>
        <div class="loader" *ngIf="coursesLoading">
          <mat-spinner></mat-spinner>
        </div>
        <div class="value">
          {{ numberOfCourses }}
        </div>
      </mat-card>
    </div>
    <div class="col-lg-6">
      <mat-card>
        <mat-card-title>Number Of Customers</mat-card-title>
        <div class="loader" *ngIf="customerLoading">
          <mat-spinner></mat-spinner>
        </div>
        <div class="value">
          {{ numberOfCustomers }}
        </div>
      </mat-card>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <mat-card>
        <mat-card-title>Number Of Subscriptions</mat-card-title>
        <div class="loader" *ngIf="subscriptionLoading">
          <mat-spinner></mat-spinner>
        </div>
        <div class="value">
          {{ numberOfSubscriptions }}
        </div>
      </mat-card>
    </div>
    <div class="col-lg-6">
      <!-- <chart [type]="type" [data]="data" [options]="options"></chart> -->
    </div>
  </div>
</div>