mat-card {
  width: 400px;
  height: 40%;
  border-radius: 5px;
  margin: 10px;
  color: red;
}

@media(max-width: 450px) {
  mat-card{
    width: 60vw;
    margin: 10px auto;
  }
}

span{
  width: 40px;
}
