mat-card {
  width: 400px;
  height: 100%;
  border-radius: 5px;
  margin: auto;
  margin-top: 2em;
  text-align: center;
}

.value {
  font-weight: bolder;
  font-size: 4em;
}

@media(max-width: 450px) {
  mat-card {
    width: 60vw;
    margin: 10px auto;
  }
}

span {
  width: 40px;
}