.example-form {
  /* min-width: 150px;
  max-width: 500px; */
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.example-button-row button,
.example-button-row a {
  margin-right: 8px;
}

.example-icon{
  margin: auto;
}

mat-progress-bar{
  position: absolute !important;
  top: 0;
  width: 100vw;
}

mat-card{
  width: 60%;
  margin: auto;
  text-align: center;
}

mat-card>form{
  margin: auto;
  width: 100%;
}
