<div class="container loader" *ngIf="loading">
  <mat-spinner></mat-spinner>
</div>
<div class="container animated fadeIn faster">
  <div style="margin: auto; text-align: center;">
    <mat-form-field appearance="outline">
      <mat-label>Filter</mat-label>
      <input matInput placeholder="phirmware" (input)="filter($event.target.value)">
      <mat-icon matSuffix>filter_list</mat-icon>
    </mat-form-field>
  </div>
  <br>
  <app-customerlist *ngIf="!loading" [dataSource]="dataSource"></app-customerlist>
</div>
