<div class="container loader" *ngIf="loading">
  <mat-spinner></mat-spinner>
</div>

<div class="container animated fadeIn faster" *ngIf="!loading">
    <button mat-raised-button color="primary" routerLink="/courses/new">Add Course</button>
    <br>
    <br>
  <mat-accordion>
    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false"
      *ngFor="let course of courses">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{course?.course_name}}
        </mat-panel-title>
        <mat-panel-description>
          N {{course?.course_price/100}}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>Course Code <span class="example-spacer"></span> <span>{{ course?.course_code }}</span> </p>
      <p>Views <span class="example-spacer"></span> <span>{{ course?.views }}</span> </p>
      <p>Number of Videos <span class="example-spacer"></span> <span>{{ course?.number_of_courses }}</span></p>
      <mat-action-row>
        <button mat-button color="primary" routerLink="/courses/course" [queryParams]="{id:course?._id, name: course?.course_name}">View</button>
        <button mat-button color="warn">Delete</button>
      </mat-action-row>
    </mat-expansion-panel>
  </mat-accordion>
</div>
