<mat-toolbar>
  <mat-toolbar-row class="mat-elevation-z8">
    <span style="color: #673ab7;font-weight: bolder;margin-left: 3vw;"><mat-icon>equalizer</mat-icon>Super Admin</span>
    <span class="example-spacer"></span>
    <button routerLink="/courses/new" color="primary" mat-raised-button> <mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">add</mat-icon>Add Course</button>
  </mat-toolbar-row>
  <mat-toolbar-row  color="primary" style="color:white;background: #673ab7; text-transform: capitalize;">
    <mat-icon class="example-icon" mat-button aria-hidden="false" aria-label="Example heart icon"
      (click)="drawer.toggle()">menu</mat-icon>
    <span *ngFor="let t of title">
      <span class="title" (click)="navigate(t?.route, t?.queryParams)">
        <span *ngIf="t?.back"> > </span>
        {{ t?.title }}
      </span>
    </span>
  </mat-toolbar-row>
</mat-toolbar>

<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav mat-elevation-z8" mode="side">
    <mat-nav-list role="list">
      <mat-list-item role="listitem" (click)="navigate('overview')">Overview</mat-list-item>
      <mat-list-item role="listitem" (click)="navigate('customers')">Customers</mat-list-item>
      <mat-list-item role="listitem" (click)="navigate('courses')">Courses</mat-list-item>
      <mat-list-item role="listitem" (click)="navigate('subscription')">Subscriptions</mat-list-item>
      <mat-list-item role="listitem" (click)="navigate('codes')">Codes</mat-list-item>
    </mat-nav-list>
  </mat-drawer>

  <div class="example-sidenav-content animated fadeIn">
    <!-- <button type="button" mat-button mat-raised-button color="secondary" (click)="drawer.toggle()">
      Toggle sidenav
    </button> -->
    <router-outlet (activate)="changeBarTitle($event)"></router-outlet>
  </div>

</mat-drawer-container>
