<mat-toolbar color="primary">
  <mat-toolbar-row class="mat-elevation-z8">
    <span>Super Admin</span>
    <!-- <mat-icon class="example-icon" aria-hidden="false" aria-label="Example delete icon">delete</mat-icon> -->
  </mat-toolbar-row>
  <mat-toolbar-row style="text-transform: capitalize;">
    {{ title }}
    <span class="example-spacer"></span>
    <mat-icon class="example-icon" mat-button aria-hidden="false" aria-label="Example heart icon"
      (click)="drawer.toggle()">view_list</mat-icon>
  </mat-toolbar-row>
</mat-toolbar>

<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <mat-nav-list role="list">
      <mat-list-item role="listitem" (click)="navigate('overview')">Overview</mat-list-item>
      <mat-list-item role="listitem" (click)="navigate('customers')">Customers</mat-list-item>
      <mat-list-item role="listitem" (click)="navigate('courses')">Courses</mat-list-item>
      <!-- <mat-list-item role="listitem">Item 3</mat-list-item> -->
    </mat-nav-list>
  </mat-drawer>

  <div class="example-sidenav-content">
    <!-- <button type="button" mat-button (click)="drawer.toggle()">
      Toggle sidenav
    </button> -->
    <router-outlet></router-outlet>
  </div>

</mat-drawer-container>
