.mat-elevation-z6 {
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12) !important;
}

.example-icon {
  padding: 0 14px;
  cursor: pointer;
}

.example-spacer {
  flex: 1 1 auto;
}


.title{
  margin: 4px;
  cursor: pointer;
}


.example-container {
  width: 100%;
  height: 100%;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.example-sidenav-content {
  background: #F2F2F2;
  padding: 0px;
  align-items: center;
  justify-content: center;
}

.example-sidenav {
  /* background: #e4e2e2; */
  width: 20vw;
  padding: 20px;
}

@media(max-width: 800px) {
  .example-sidenav {
    width: 38vw;
    padding: 20px;
  }
}

@media(max-width: 430px) {
  .example-sidenav {
    width: 43vw;
    padding: 20px;
  }
}
