<div class="container loader" *ngIf="loading">
  <mat-spinner></mat-spinner>
</div>

<div class="container animated fadeIn faster" *ngIf="!loading">
  <mat-card style="text-transform: capitalize;">
    <span>{{course?.course_code}}</span>
    <br>
    {{course?.course_name}}
  </mat-card>
  <mat-card>
    <mat-list>
      <mat-list-item>
        <p>Course Price: </p>
        {{course?.course_price/100}}
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <p>Number of Views: </p>
        {{course?.views}}
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <p>Videos: </p>
        {{course?.number_of_courses}}
      </mat-list-item>
      <mat-divider></mat-divider>
    </mat-list>
  </mat-card>
  <mat-card>
    <mat-list>
      <div *ngFor="let vid of videos">
        <mat-list-item>{{ vid }}</mat-list-item>
        <mat-divider></mat-divider>
      </div>
    </mat-list>
  </mat-card>
  <mat-card>
    <button mat-raised-button color="warn" (click)="deleteCourse(course?._id)">Delete</button>
    <button mat-raised-button color="primary" routerLink="/courses/edit" [queryParams]="{id:course?._id, name:course?.course_name}">Edit</button>
  </mat-card>
</div>
